<div class="card">

    <mat-card>

        <div class="nome">
            {{usuario.nome}} {{usuario.sobrenome}}
        </div>
        
        <div class="email">
            {{usuario.email}}
        </div>

        <div class="data-escolaridade">
            <div class="data-nascimento">
                {{usuario.email}}
            </div>

            <div class="escolaridade">
                {{usuario.escolaridade}}
            </div>
        </div>

    </mat-card>

</div>