:host {
    .page {
        height: calc(100vh - 120px);
        margin: 30px 150px 20px 150px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .painel {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;

            height: calc(100vh - 140px);
            width: 664px;

            .filtros {
                margin: 0px 10px;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;

                .filtro-texto {
                    width: 200px;
                }

                .acoes {
                    align-self: center;
                }
            }

            lista-de-usuarios {
                flex: 1;
            }

            .paginacao {
                align-self: center;

                button {
                    margin: 4px 8px;
                }
            }
        }

        mat-divider {
            height: calc(100vh - 120px);
            margin: 0px 10px;
        }

        .detalhamento {
            height: calc(100vh - 140px);
            flex: 1;

            .empty {
                height: 100%;
                margin: 14px 10px;

                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;

                border: 2px dashed #90949c;

                h1 {
                    text-align: center;
                }

                span {
                    text-align: center;
                }
            }
        }
    }
}