:host {
    .page {
        height: calc(100vh - 120px);
        margin: 30px 50px 20px 50px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .painel {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;

            height: calc(100vh - 140px);
            width: 664px;

            .acoes {
                align-self: flex-end;
                margin-right: 10px;
            }

            lista-de-usuarios {
                flex: 1;
            }
        }

        mat-divider {
            height: calc(100vh - 120px);
            margin: 0px 10px;
        }

        .detalhamento {
            height: calc(100vh - 140px);
            flex: 1;

            .empty {
                height: 100%;
                margin: 14px 10px;

                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;

                border: 2px dashed #90949c;

                h1 {
                    text-align: center;
                }

                span {
                    text-align: center;
                }
            }
        }
    }
}