<form *ngIf="!loading" class="form-usuario" [formGroup]="form" (submit)="salvar()">

    <div class="content">

        <div class="nome">

            <mat-form-field appearance="standard">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>
    
            <mat-form-field appearance="standard">
                <mat-label>Sobrenome</mat-label>
                <input matInput placeholder="Sobrenome" formControlName="sobrenome">
            </mat-form-field>
    
        </div>
    
        <div class="email">
    
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
    
        </div>
    
        <div class="data-escolaridade">
    
            <mat-form-field appearance="standard" class="data-nascimento">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="dataDeNascimento">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancelar</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Selecionar</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
    
              <mat-form-field appearance="standard">
                <mat-label>Escolaridade</mat-label>
                <mat-select formControlName="escolaridade">
                  <mat-option [value]="0">Infantil</mat-option>
                  <mat-option [value]="1">Fundamental</mat-option>
                  <mat-option [value]="2">Medio</mat-option>
                  <mat-option [value]="3">Superior</mat-option>
                </mat-select>
            </mat-form-field>
    
        </div>

    </div>
    
    <div class="actions">

        <button *ngIf="modoEdicao" type="button" class="excluir" (click)="excluir()" mat-stroked-button color="danger">Excluir</button>
        <button class="salvar" type="submit" mat-stroked-button color="primary" [disabled]="form.invalid">Salvar</button>
    </div>

    

</form>